/* ==========================================================================
   # BASE STYLES
   ========================================================================== */

   /*
   FONTS
   */
   @import url('https://fonts.googleapis.com/css?family=Oswald');
   @import url('https://fonts.googleapis.com/css?family=Montserrat');

   body{

   }

   h1, h1 a, h2 h2 a,
   h3, h3 a, h4, h4 a{
	font-family: 'Oswald', sans-serif;
   }
   p, div, 
   span, ul,
   li, a{
	   font-family: 'Montserrat', sans-serif;
	   font-weight:200;
   }

   header{

   	& > h1:first-child{
   		display:none;
   	}
   }

   .c-main__Section{
   	// @include constrain();

   	// Hide default h1
   	& > h1:first-child{
		display:none;
   	}
   }

   .c-masthead__wrapper{
   	height:800px;
   }




//    * {
// 	transition:.25s ease-in-out;
// 	box-sizing:border-box;
//   }

h2{
	font-size:65px;
	font-family: 'Oswald', sans-serif;
}