/* ==========================================================================
   # VARIABLES
   ========================================================================== */

$white:#fff;
$black:#000;
$minecraft:#333;
$rose:#FE0168;